# Visual Studio
.vs/
*.suo
*.user

# Build
bin/
obj/

# Frontend libs
node_modules/
wwwroot/lib/

# Logs
Logs/
*.log

# Env
.env
/SourceCode/EV_ERP/EV_ERP/Logs/log-20260404.txt
/SourceCode/EV_ERP/EV_ERP/wwwroot/uploads/products/product-1-a1b73733babf4dafbebdbae53142f23d.png
